apiVersion: apps/v1
kind: Deployment
metadata:
  name: django
spec:
  replicas: 2
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
        - name: django
          image: bhangdawon/djangoapp:1.0.0
          env:
            - name: DB_HOST
              value: mysql
            - name: DB_NAME
              value: django_db
            - name: DB_USER
              value: django
            - name: DB_PASSWORD
              value: django123
          ports:
            - containerPort: 8000
